body {
  font-family: roboto;
  margin: 0;
  color: #3d3d3d;
  background-color: #000000;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#webcam {
  display: none;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  cursor: pointer;
  color: #fff;
  margin: 15px;
}

.videoView p,
.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  border: 2px solid #fff;
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}

#countdown {
  position: fixed;
  top: 90px;
  right: 10px;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 150px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 4px;
  z-index: 9999;
}

#liveView {
  white-space: nowrap;
}

.ui-button {
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  position: relative;
}

.ui-button:hover {
  background-color: yellow;
}

.button-label {
  position: relative; /* Ensure text is above the progress bar */
  z-index: 1; /* Place text above the progress bar fill */
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: yellow; /* Color of the progress bar fill */
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 220px;
  height: 64px;
  background: rgb(239, 239, 239);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  z-index: 1;
}

.slider:hover {
  opacity: 1;
  background-color: yellow;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 64px;
  background: #999;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 64px;
  background: #999;
  cursor: pointer;
}

.slider-container {
  position: relative;
  width: 220px;
  display: inline-block;
  top: 20px;
  margin-right: 10px;
}

.slider-container .button-label {
  color: #000;
  font-size: 36px;
  position: absolute;
  font-weight: bold;
}

.slider-container .button-label.button-label-left {
  top: 13px;
  left: 13px;
}

.slider-container .button-label.button-label-right {
  top: 13px;
  right: 13px;
}

.instructions {
  font-size: 24px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #fff;
}

#threeJsCanvas {
  position: absolute;
  margin-top: 100px; /* temporary fix to allow clicking buttons */
  /*border: 2px solid #fff;*/
}
